<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Verónica Fermán | Estudiante de Ingeniería de Negocios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>


<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Verónica" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpng" alt="Verónica Fermán" class="profile-pic nav-link" />
              <span class="caption nav-link">Verónica Fermán</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Logros destacados</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Voluntariado</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Escríbeme</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Verónica Fermán</h2>
          <h3>{Estudiante de Ingeniería de Negocios en la ESEN}</h3>
          <p>Estudiante de Ingeniería de Negocios en la ESEN</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Voluntariado</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.png" alt="Verónica" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Conóceme mejor</h2>
          <p>
            Soy una persona creativa, dinámica, con excelentes habilidades interpersonales ídeales para trabajar en equipo y responder efectivamente a problemáticas que demanden actuar bajo presión.
          </p>
          <p>
            Mi ambiente laboral ideal es aquel en el que la diversidad es promovida, respetada y vista como una 
            oportunidad de crecimiento integral constante, tanto para la organización como para todos las personas individuales 
            que son parte de ella. Donde la originalidad y la puesta en práctica de los conocimientos que he adquirido durante 
            mi formación universitario sean el dúo dinámico que le dé valor a mi oferta profesional.
          </p>
          <p>
            Mis hobbies incluyen la lectura, pintura, cocina y manualidades.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Logros destacados</h2>
          <p>
            Incluidos entre estos está el alcance de metas estudiantiles y personales.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Beca ESEN-Proceso de Admisión</h2>
            <p>
              En el año 2019 tuve el privilegio de ser una de los 12 estudiantes becados con un año de estudios pagados en la 
              Escuela Superior de Economía y Negocios por haber obtenido los mejores resultados 
              durante el proceso de admisión del año 2018.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>TOEFL IBT</h2>
            <p>
              Luego de años de estudio del idioma inglés, logré realizar la prueba del TOEFL y obtuve una calificación de 111/120 en el 2020.
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Voluntariado</h2>
        <p>Estas son algunas de las organizaciones en la que he hecho voluntariado</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/project-img.png" />
        </div>
        <div class="project-description">
          <h2>Hope</h2>
          <p>
            He realizado visitas al centro médico y al Hospital Benjamín Bloom junto con miembros de la asociación.
            En estas, llevamos a cabo actividades recreativas para los niñós y niñas que sufren de cáncer con el objetivo de 
            poder ser una pequeña distracción en la difícil realidad que tienen que enfrentar a diario, tanto ellos como sus familias.
          </p>
          <a href="https://www.facebook.com/HopeElSalvador/" class="asociacion-link" target="_blank"><i class="asociacion" aria-hidden="true"> Ir a la página de Facebook</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Pasitos</h2>
          <p>
            En esta asociación, he tenido la oportunidad de realizar sesiones de lectura para los niños que están en el nivel académico de cuarto grado.
          </p>
          <a href="https://www.facebook.com/PASITOSESEN/" class="asociacion-link" target="_blank"><i class="asociacion" aria-hidden="true"> Ir a la página de Facebook</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/pasitos.png" />
        </div>
      </div>

     <!--<div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/calculator.png" />
        </div>
        <div class="project-description">
          <h2>Calculator</h2>
          <p>
            This is a simple calculator which performs the most common
            arithmetic operations. It have cool design and buttons are
            arranged nicely using CSS grid. I used JavaScript to receive
            input, perform computation and display the correct result on
            "screen".
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      -->
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Contáctame</h2>
      <p>
        Puedes contactarme para resolver cualquier duda con respecto a mi CV. ¡Será un placer conocerte y poder interactuar contigo!
      </p>
      <p>
      </p>
      <div class="container">
        <p>
          <a href="mailto:v2001.ferman@gmail.com"><i class="fas fa-envelope-open"></i> v2001.ferman@gmail.com</a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-youtube"> Instagram</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-LinkedIn"> LinkedIn</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Logros</a>
        <a href="projects" class="footer-nav-link">Voluntariado</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> by Verónica Fermán  &copy; 2020
        </p>
        <p>Built with Chaoo Charles' pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>